*{
  background-color: #0f172bff;
  color: white;
}
hr{
  background-color: #324155ff;
  color: #324155ff;
  border: none;
  width: 100%;
  height: 3px;
}
.btn{
  background-color: #5045e6ff;
  border: none;
  border-radius: 8px;
  padding: 14px 30px;
  font-size: 20px;
}
@media screen and (max-width : 768px){
  hr{
    width: 100%;
    height: 3px;
  }
  .btn{
    padding: 10px 20px;
    font-size: 10px;
  }
}

